/* 
font-family: 'Fredoka One', cursive;
font-family: 'Hind Madurai', sans-serif;
font-family: 'Roboto', sans-serif;
*/

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.hero {
    height: 100vh;
    background-color: rgba(242, 206, 218, 0.3);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}

.logo {
    width: 53px;
    height: 42px;
}

.logo__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav {}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 28px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 400;
}

.btn {
    background-color: #F6762C;
    border: none;
    border-radius: 5px;
    padding: 15px 36px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.content {
    display: flex;
}

.content__desc {
    width: 58%;
}

/*
.content__headline {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}

.title {
    font-family: 'Fredoka One', cursive;
    font-weight: 500;
    font-size: 57px;
    line-height: 1.17;
}

.content__title {
    margin-bottom: 24px;
}

.content__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 42px;
}
*/
.title__element {}

.content__decor {
    max-height: 600px;
    position: relative;
}

.content__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content__decor::after {
    content: "";
    display: block;
    background: rgba(210, 49, 102, 0.1);
    width: 365px;
    height: 353px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10;
}

.content__decor::before {
    content: "";
    display: block;
    width: 100%;
    height: 80%;
    bottom: 0;
    background-image: url(../img/content/milk.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 30px;
    position: absolute;
}